<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-dashboard"><%= link_to "Dashboard", casein_dashboard_path(visit.id) %></li>
<li id="tab-visits"><%= link_to "Visits", casein_visits_path %></li>
<li id="tab-clients"><%= link_to "Clients", casein_clients_path %></li>